// out: ../css/main.css, sourcemap: false, compress: true

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

html, body {
    width: 100%;
    height: 100%;
}

button {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 1px solid #DDD;
    font-size: 20px;
}

button.red {
    background-color: #F00;
    color: #FFF;
}

button.green {
    background-color: #0F0;
    color: #333;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 0;
    background-color: transparent;
}

#home {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    #home-panel {
        width: 50%;

        #palettes-list {
            width: 100%;
            margin: auto;

            .palette-row {
                padding: 10px;
                border: 1px solid #EEE;
                border-radius: 3px;
                width: 100%;
                box-sizing: border-box;
                margin-top: 5px;
                margin-bottom: 5px;
                cursor: pointer;

                .preview {
                    display: inline-block;

                    div {
                        display: inline-block;
                        width: 20px;
                        height: 100%;
                    }
                }

                span {
                    float: right;
                }
            }
        }

        #new-palette {
            display: block;
            margin: 30px auto;
        }
    }
}

#composer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    overflow: hidden;

    .navigation {
        box-sizing: border-box;

        button {
            width: 20%;
        }

        #delete-button {
            float: right;
        }

        #save-button {
            float: right;
            margin-left: 10px;
        }
    }

    .config {
        box-sizing: border-box;
        margin: 5px 0;
    }

    #add-button {
        float: right;
        width: 5%;
        height: 80%;
    }

    .palette-roster {
        width: 95%;
        height: 80%;
        box-sizing: border-box;
        display: flex;
        align-items: stretch;

        .color-cell {
            flex-grow: 1;
            flex-basis: auto;
            box-sizing: border-box;

            .color-preview {
                width: 100%;
                height: 100%;
                position: relative;

                .color-code {
                    color: inherit;
                }

                .color-code:focus {
                    outline: none;
                    text-transform: uppercase;
                }

                .options {
                    display: none;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    margin-left: -10px;

                    i {
                        cursor: pointer;
                    }
                }
            }

            .color-preview:hover {
                .options {
                    display: block;
                }
            }
        }
    }
}

.models {
    display: none;
}
